[submodule "components/hagl"]
	path = components/hagl
	url = git@github.com:tuupola/hagl.git
[submodule "components/hagl_sdl2"]
	path = components/hagl_sdl2
	url = git@github.com:tuupola/hagl_sdl2.git
