[submodule "components/hagl"]
	path = external/hagl
	url = https://github.com/tuupola/hagl.git
[submodule "components/hagl_sdl2"]
	path = external/hagl_sdl2
	url = https://github.com/tuupola/hagl_sdl2.git
